# Configuración para Docker Compose
HOST=0.0.0.0
DATABASE_URL="mysql://sisat:sisat_local_password@host.docker.internal:3306/sisat"
JWT_SECRET="development_secret_key_123"
PORT=3000
NODE_ENV=dev
FRONTEND_PORT=5173
VITE_API_URL="http://backend:3000"
APP_URL="/"
